body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("../images/space.gif") ;
    /* background-repeat: no-repeat; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header, .footer {
    background-color: #1F2937;
    display: flex;
}

.header {
    justify-content: space-between;
    color: #eee;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #eee;
    margin: 5px;
}