body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("../images/space.gif") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    gap: 40px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: #eee;
}

.header, .footer {
    background-color: rgba(31,41,55, 0.9);
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
    color: #eee;
    padding: 10px;
}

audio {
    display: none;
}

.logo {
    width:50px;
    height: auto;
}

a {
    text-decoration: none;
    color: #eee;
    margin: 5px;
}

.left, .right {
    width: 500px;
    height: auto;
    color: #eee;
}

.left button, .sign button {
    width: 100px;
    margin-top: 20px;
    border-radius: 7px;
    padding: 3px;
    font-size: medium;
}

.left button:hover, .sign button:hover {
    transition: all 0.3s ease-in-out;
    background: rgb(138, 64, 138);
    color:#eee;
}


.left p {
    line-height: 1.5em;
}

.teleimg {
    width: 100%;
    height: auto;
    opacity: 0.65;
}

.teleimg:hover {
    opacity: 1;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    background-color: rgba(31,41,55, 0.6);
}

.imgtitle {
    margin: 70px 0 0 0;
    text-align: center;
}

.imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 5px;
}

.imgdivs {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.subdesc {
    text-align: center;
    overflow: hidden;
    line-height: 50px;
    transition: all 1.3s ease-in-out;
    height: 0;
    width: 320px;
    color: purple;
}

.subimg:hover + .subdesc {
    display: block;
    color: #eee;
    height: 200px;
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 5px;
}

.subimg {
    width: 320px;
    height: auto;
    opacity: 0.7;
}

.links a {
    position: relative;
}

.links a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .links a:hover:before {
    visibility: visible;
    width: 100%;
  }


/* Zoom In */
.imgs .imgdivs img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imgs .imgdivs:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
    opacity: 1;
    border: 1px solid purple;
}

.qcontainer {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0; 
}

.quotes {
    width: 550px;
    background-color: rgba(31,41,55, 0.7);
    border-radius: 25px;
    padding: 10px;
}

.quote {
    color: #eee;
    text-align: center;
    font-size: large;
    line-height: 2.2em;
}

.quote:hover {
    color: rgb(238, 40, 238);
}

/* how to point at one element and change another. the element in need of change has to be afte the pointed one*/
/* .quote:hover, .quote:hover + .author { 
    color: rgb(238, 40, 238);
} */

.author {
    color: #eee;
    text-align: right;
    font-weight: bold;
}

.sign {
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31,41,55, 0.6);
}

.signText {
    justify-content: space-between; 
    width: 510px;
    padding: 50px;
}

.footer {
    justify-content: center;
    padding: 20px;
}

.imgs:hover + .qcontainer {
    opacity: 0.2;
}