body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("../images/space.gif") ;
    /* background-repeat: no-repeat; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header, .footer {
    background-color: rgba(31,41,55, 0.7);
    display: flex;
}

.header {
    justify-content: space-between;
    color: #eee;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #eee;
    margin: 5px;
}

.left, .right {
    width: 500px;
    height: auto;
    color: #eee;
}

.teleimg {
    width: 100%;
    height: auto;
    opacity: 0.65;
}

.teleimg:hover {
    opacity: 1;
}

.intro {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #1F2937;
    background-color: rgba(31,41,55, 0.6);
}

.logo {
    width:50px;
    height: auto;
}